
<nav class="navbar navbar-home">
  <div class="container containter-fluid">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#main-nav" class="navbar-toggle collapsed"><span class="sr-only">Toggle Navigation</span><i class="fa fa-caret-square-o-down md fa-lg"></i></button><a ng-href="#/home" class="navbar-brand">Ulises Reyes</a>
    </div>
    <div id="main-nav" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-href="#/work">Work</a></li>
        <li><a ng-href="#/about">About</a></li>
        <li><a ng-href="#/blog">Blog</a></li>
      </ul>
    </div>
  </div>
</nav>