
<nav class="navbar navbar-home">
  <div class="container containter-fluid">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#main-nav" class="navbar-toggle collapsed"><span class="sr-only">Toggle Navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a ng-href="#/home" class="navbar-brand">Ulises Reyes</a>
    </div>
    <div id="main-nav" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-href="#/work">Work</a></li>
        <li><a ng-href="#/about">About</a></li>
        <li><a ng-href="#/blog">Blog</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row splash">
    <div class="col-sm-6 vcenter">
      <div class="splash-text">
        <h1>Hi</h1>
      </div>
    </div>
    <div class="col-sm-6 vcenter">
      <div class="splash-text">
        <p>My name is <a ng-href="#/about" class="splash-link">Ulises Reyes</a>. I am a <a href="http://en.wikipedia.org/wiki/Graphic_design" target="_blank" class="splash-link">graphic</a>, <a href="http://en.wikipedia.org/wiki/Web_design" target="_blank" class="splash-link">web</a>, and <a href="http://en.wikipedia.org/wiki/Architecture" target="_blank" class="splash-link">architectural</a> designer based in <a href="http://en.wikipedia.org/wiki/New_York_City" target="_blank" class="splash-link">New York</a>. Feel free to view my <a ng-href="#/work" class="splash-link">portfolio</a>, <a ng-href="#/blog" class="splash-link">blog</a>, or any of the links below to learn more about me. For inquiries, <a href="mailto:ureyesjr@gmail.com" class="splash-link">email me</a>!</p>
      </div>
    </div>
  </div>
  <div class="row icons">
    <div class="col-sm-12 text-center"><a href="http://www.linkedin.com/in/ureyes" target="_blank"><i class="fa fa-linkedin"></i></a> <a href="https://angel.co/ureys" target="_blank"><i class="fa fa-angellist"></i></a> <a href="https://github.com/urjr/" target="_blank"><i class="fa fa-github-alt"></i></a> <a href="https://twitter.com/ureys" target="_blank"><i class="fa fa-twitter"></i></a> <a href="https://instagram.com/urjr/" target="_blank"><i class="fa fa-instagram"></i></a></div>
  </div>
</div>