
<div class="project-feature">
  <div class="feature-bg"></div>
  <div class="container view">
    <div style="position:relative;" class="row">
      <div class="col-sm-12 project-content">
        <div class="col-md-5 project-data">
          <h1 ng-click="console.log('clicked!')">{{feature.title}}</h1>
          <div class="row metadata">
            <div class="col-xs-6">
              <p><b>Year:</b> {{feature.year}}</p>
              <p><b>Category:</b> {{feature.category}}</p>
            </div>
            <div class="col-xs-6">
              <p><b>Location:</b> {{feature.location}}</p>
              <p><b>Client:</b> {{feature.client}}</p>
            </div>
          </div>
          <p scrollable="{alwaysVisible: false}" class="desktop-description nano-black">{{feature.description}}</p>
        </div>
        <div class="col-md-7 project-gallery">
          <carousel interval="3000">
            <slide ng-repeat="pic in feature.pictures track by $index" active="pic.active"><a href="../img/{{pic}}.jpg" target="_blank"><img src="img/{{pic}}.jpg"/></a></slide>
          </carousel>
        </div>
        <div class="col-md-6 mobile-description">
          <p>{{feature.description}}</p>
        </div>
      </div><a ui-sref="work" ur-screen-lock="ur-screen-lock">
        <h1 class="back-button">Back</h1></a>
    </div>
  </div>
</div>