
<div class="project-feature"><a ui-sref="work" ur-screen-lock="ur-screen-lock">
    <div class="feature-bg"></div></a><a ui-sref="work" ur-screen-lock="ur-screen-lock" class="back-button-desktop"><i class="fa fa-2x fa-times"></i></a>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 project-content"><a ui-sref="work" ur-screen-lock="ur-screen-lock" class="back-button-mobile">Back <i class="fa fa-times"></i></a>
        <div class="col-md-5 project-data">
          <h1>{{feature.title}}</h1>
          <div class="row metadata">
            <div class="col-xs-6">
              <p><b>Year:</b> {{feature.year}}</p>
              <p><b>Category:</b> {{feature.category}}</p>
            </div>
            <div class="col-xs-6">
              <p><b>Location:</b> {{feature.location}}</p>
              <p><b>Client:</b> {{feature.client}}</p>
            </div>
          </div>
          <p scrollable="{alwaysVisible: false}" class="desktop-description nano-black">{{feature.description}}</p>
        </div>
        <div class="col-md-7 project-gallery">
          <carousel interval="3000">
            <slide ng-repeat="pic in feature.pictures track by $index" active="pic.active"><a href="../img/{{pic}}.jpg" target="_blank"><img src="img/{{pic}}.jpg"/></a></slide>
          </carousel>
        </div>
        <div class="col-md-6 mobile-description">
          <p>{{feature.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>