doctype html
html(lang="en",ng-app="mySite")
	head
		meta(charset="UTF-8")
		meta(name="viewport",content="width=device-width, initial-scale=1")
		title Ulises Reyes
		script(src="lib/angular/angular.min.js")
		script(src="lib/angular/angular-route.min.js")
		script(src="lib/angular/angular-animate.min.js")
		script(src="js/app.js")
		link(rel="icon", type="image/png", href="img/favicon.png")
		link(href='http://fonts.googleapis.com/css?family=Pacifico',rel='stylesheet',type='text/css')
		link(rel="stylesheet", href="css/fonts.css")
		link(rel="stylesheet", href="css/font-awesome.css")
		link(rel="stylesheet", href="css/bootstrap.css")
		link(rel="stylesheet", href="css/app.css")

	body(ng-controller="ColorController", style="background:#{{currentColor}}")
		ng-include(src="'partials/topbar.html'")
		div(ng-view)