doctype html5
html(lang="en", ng-app)
	head
		meta(charset="UTF-8")
		title Ulises Reyes
		link(rel="stylesheet", href="css/fonts.css")
		link(rel="stylesheet", href="css/bootstrap.css")

	body
		h1(style="font-family:Sweden Sans;font-weight:bold") Hello World #[span.glyphicon.glyphicon-user]
