//Mixins
@mixin bp($point) {
  @if $point == tablet {
    @media (min-width: 768px) { @content; }
  }
  @else if $point == desktop {
    @media (min-width: 992px) { @content; }
  }
  @else if $point == xl-desktop {
  	@media (min-width:1200px) { @content; }
  }
}

@mixin transition($time){
	-webkit-transition:$time;
	transition:$time;
}

@mixin translate($x-axis,$y-axis){
	-ms-transform: translate($x-axis,$y-axis);
	-webkit-transform: translate($x-axis,$y-axis);
	transform: translate($x-axis,$y-axis);
}

@mixin scale-translate($x-axis,$y-axis,$scale-value){
	-ms-transform: translate($x-axis,$y-axis) scale($scale-value);
	-webkit-transform: translate($x-axis,$y-axis) scale($scale-value);
	transform: translate($x-axis,$y-axis) scale($scale-value);
}

@mixin vertical-gradient($top-color,$bottom-color,$fallback){
	background: -webkit-linear-gradient($top-color, $bottom-color),$fallback;
  background: -o-linear-gradient($top-color, $bottom-color),$fallback;
  background: -moz-linear-gradient($top-color, $bottom-color),$fallback;
  background: linear-gradient($top-color, $bottom-color),$fallback;
}

$font-stack-default: "Sweden Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
$font-stack-cursive: 'Pacifico', cursive;
$text-shadow-effect: 0 1px 1px rgba(0,0,0,.5);


//Styles
body{
  // background: #3fd47d;    //greenish
  // background:#e74c3c;     //reddish
  // background:#3498db;     //blueish
  // background:#7f8c8d;     //grayish
}


//home navbar
.navbar-home{
	position:relative;
	z-index:1000;
	font-family: $font-stack-default;
	text-shadow: $text-shadow-effect;
	margin-bottom:0;
	border-bottom:1px solid rgba(255,255,255,.3);
	.container{
		.navbar-header .navbar-brand, .navbar-collapse ul li a{
			text-align:center;
			color: #fff;
			@include transition(.25s);
			font-size:1.25em;
			font-weight: bold; 
			&:hover{
				@include translate(0,-4px);
				background:transparent !important;
				text-shadow:0 2px 6px rgba(0,0,0,.5);
			}
			&:focus{
				background:transparent;
			}
			@include bp(desktop){
				font-size: 1.5em;
			}
		}
		.navbar-header .navbar-toggle {
			margin-right: 5px;
			padding: 1px 10px;
			text-shadow: $text-shadow-effect;
			color:white;
		}
	}
}

//home splash page
.splash {
	font-family:$font-stack-default;
	color:white;

	a.splash-link{
		color: white;
		text-decoration: underline;
		text-shadow: none;
		@include transition(.25s);
		font-family: $font-stack-cursive;
		line-height: .5;
		box-sizing:border-box;
		font-weight: normal !important;
		text-shadow: $text-shadow-effect;
		&:hover{
			// @include translate(0,-4px);
			text-shadow:0 2px 6px rgba(0,0,0,.5);
		}
	}

	.vcenter{
		display: table !important;

		@include bp(tablet){
			height: 24em;
		}

		@include bp(desktop){
			height: 34em;
		}
	}

	.splash-text{
		display: table-cell !important;
		vertical-align: middle;
		text-shadow: $text-shadow-effect;

		h1{
			color: white;
			font-size: 12em;
			font-weight: bold;

			@include bp(tablet){
				font-size: 24em;
				line-height: .5;
			}

			@include bp(desktop){
				font-size: 34em;
				letter-spacing: -12px;
			}
		}

		p{
			font-size: 1.5em;
			display:table-cell;
			vertical-align: middle;

			@include bp(tablet){
				font-size: 1.75em;
				margin-top: 3em;
			}

			@include bp(desktop){
				font-size: 2.3em;
			}
		}
	}
}

.icons{
	margin-top:1.5em;
	margin-bottom:3em;
	@include bp(tablet){
		text-align: center;
	}
	i{
		color: white;
		text-shadow: $text-shadow-effect;
		font-size:1.5em;
		@include transition(.25s);

		@include bp(tablet){
			font-size: 3em;
			text-align: center;
			&:hover{
				@include scale-translate(0,-15px,1.25);
				text-shadow:0 2px 6px rgba(0,0,0,.5);
			}
		}
		@include bp(desktop){
			font-size: 5em;
		}
	}
}

//about page

.about {
	img{
		box-shadow:0 0 15px rgba(0,0,0,.5);
	}
	h1, p, li, a, h2{
		text-shadow: $text-shadow-effect;
		color: #fff;
		font-family: $font-stack-default;
	}
	h1 {
		font-weight: bold;
		font-size: 3em;
		@include bp(tablet){
			font-size: 4em;
		}
		@include bp(desktop){
			font-size:6em;
		}
	}

	h2{
		font-weight: bold;
	}
	p, li{
		font-size: 1.25em;
		@include bp(xl-desktop){
			font-size: 1.6em;
		}
	}

	p.dropcap:first-child:first-letter{
		font-size: 6em;
		float: left;
		line-height: .7;
	}

	a{
		text-decoration: underline;
		font-family: $font-stack-cursive;
		@include transition(.25s);
		&:hover{
			text-shadow: 0 0 3px rgba(0,0,0,.5);
		}
	}

	.description{
		margin-top: 20px;
		height: 450px;
		// overflow-y: auto;
		@include bp(tablet){
			margin-top: 0;
			height: 358px;
		}
		@include bp(desktop){
			height: 472px;
		}
		@include bp(xl-desktop){
			height: 576px;
		}
	}

	.notes{
		margin-bottom: 3em;
		text-align: center; 
		@include bp(tablet){
			margin-top: 20px;
			margin-bottom: 6em;
			text-align: normal;
		}
		.fluent {
			font-family: $font-stack-cursive;
			text-decoration: underline;
		}
	}
}

.under-construction{
	font-family: $font-stack-default;
	text-shadow: $text-shadow-effect;
	color: white;
	h1{
		font-size: 6em;
		font-weight: bold;
		line-height: .8;
		@include bp(tablet){
			font-size: 12em;
		}
		@include bp(desktop){
			font-size: 16em;
		}
	}
}





