//Mixins
@mixin bp($point) {
  @if $point == tablet {
    @media (min-width: 768px) { @content; }
  }
  @else if $point == desktop {
    @media (min-width: 992px) { @content; }
  }
  @else if $point == xl-desktop {
  	@media (min-width:1200px) { @content; }
  }
}

@mixin transition($time){
	-webkit-transition:$time;
	transition:$time;
}

@mixin scale($val){
	-ms-transform: scale($val);
	-webkit-transform: scale($val);
	transform: scale($val);
}

@mixin translate($x-axis,$y-axis){
	-ms-transform: translate($x-axis,$y-axis);
	-webkit-transform: translate($x-axis,$y-axis);
	transform: translate($x-axis,$y-axis);
}

@mixin scale-translate($x-axis,$y-axis,$scale-value){
	-ms-transform: translate($x-axis,$y-axis) scale($scale-value);
	-webkit-transform: translate($x-axis,$y-axis) scale($scale-value);
	transform: translate($x-axis,$y-axis) scale($scale-value);
}

@mixin vertical-gradient($top-color,$bottom-color,$fallback){
	background: -webkit-linear-gradient($top-color, $bottom-color),$fallback;
  background: -o-linear-gradient($top-color, $bottom-color),$fallback;
  background: -moz-linear-gradient($top-color, $bottom-color),$fallback;
  background: linear-gradient($top-color, $bottom-color),$fallback;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }  
  @-ms-keyframes $animation-name {
    @content;
  }
  @-o-keyframes $animation-name {
    @content;
  }  
  @keyframes $animation-name {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

$font-stack-default: "Sweden Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
$font-stack-cursive: 'Pacifico', cursive;
$text-shadow-effect: 0 1px rgba(0,0,0,.5);


@include keyframes(floating-search){
	0% {@include translate(0,0);}
	100% {@include translate(0,-10px);}
}

//Styles

html{
	height:100%;
}
body{
	height:100%;
}

.view{
	margin-top:51px;
}

//home navbar
.navbar-home{
	// position:relative;
	z-index:500;
	font-family: $font-stack-default;
	text-shadow: $text-shadow-effect;
	margin-bottom:0;
	// border-bottom:1px solid rgba(255,255,255,.3);
	border: none;
	.selected,.selected:hover,.selected:focus,.selected:active{
		text-decoration: line-through;
	}
	.navbar-header .navbar-brand, .navbar-collapse ul li a{
		text-align:center;
		color: #fff;
		@include transition(.25s);
		font-size:1.25em;
		font-weight: bold;
		&:hover{
			@include translate(0,-4px);
			background:transparent !important;
			text-shadow:0 2px 6px rgba(0,0,0,1);
		}
		&:focus{
			background:transparent;
		}
		@include bp(desktop){
			font-size: 1.5em;
		}
	}
	.navbar-header .navbar-toggle {
		margin-right: 5px;
		padding: 1px 10px;
		text-shadow: $text-shadow-effect;
		color:white;
	}
	.mobile-link{
		@include bp(tablet){
			display: none;
		}
	}
	.desktop-link{
		display: none;
		@include bp(tablet){
			display: inline-block;
		}
	}
}

//home splash page
.splash {
	font-family:$font-stack-default;
	color:white;

	a.splash-link{
		color: white;
		text-decoration: underline;
		text-shadow: none;
		@include transition(.25s);
		font-family: $font-stack-cursive;
		line-height: .5;
		box-sizing:border-box;
		font-weight: normal !important;
		text-shadow: $text-shadow-effect;
		&:hover{
			// @include translate(0,-4px);
			text-shadow:0 2px 6px rgba(0,0,0,.5);
		}
	}

	.vcenter{
		display: table !important;

		@include bp(tablet){
			height: 24em;
		}

		@include bp(desktop){
			height: 34em;
		}
	}

	.splash-text{
		display: table-cell !important;
		vertical-align: middle;
		text-shadow: $text-shadow-effect;

		h1{
			color: white;
			font-size: 12em;
			font-weight: bold;

			@include bp(tablet){
				font-size: 24em;
				line-height: .5;
			}

			@include bp(desktop){
				font-size: 34em;
				letter-spacing: -12px;
			}
		}

		p{
			font-size: 1.5em;
			display:table-cell;
			vertical-align: middle;

			@include bp(tablet){
				font-size: 1.75em;
				margin-top: 3em;
			}

			@include bp(desktop){
				font-size: 2em;
			}

			@include bp(xl-desktop){
				font-size: 2.3em;
			}
		}
	}
}

.icons{
	margin-top:1.5em;
	margin-bottom:3em;
	@include bp(tablet){
		text-align: center;
	}
	i{
		color: white;
		text-shadow: $text-shadow-effect;
		font-size:1.5em;
		@include transition(.25s);

		@include bp(tablet){
			font-size: 3em;
			text-align: center;
			&:hover{
				@include scale-translate(0,-15px,1.25);
				text-shadow:0 2px 6px rgba(0,0,0,.5);
			}
		}
		@include bp(desktop){
			font-size: 5em;
		}
	}
}

//about page

.about {
	img{
		box-shadow:0 0 15px rgba(0,0,0,.5);
	}
	h1, p, li, a, h2{
		text-shadow: $text-shadow-effect;
		color: #fff;
		font-family: $font-stack-default;
	}
	h1 {
		font-weight: bold;
		font-size: 3em;
		@include bp(tablet){
			font-size: 4em;
		}
		@include bp(desktop){
			font-size:6em;
		}
	}

	h2{
		font-weight: bold;
	}
	p, li{
		font-size: 1.25em;
		@include bp(xl-desktop){
			font-size: 1.6em;
		}
	}

	p.dropcap:first-child:first-letter{
		font-size: 6em;
		float: left;
		line-height: .7;
	}

	a{
		text-decoration: underline;
		font-family: $font-stack-cursive;
		@include transition(.25s);
		&:hover{
			text-shadow: 0 0 3px rgba(0,0,0,.5);
		}
	}

	.description{
		margin-top: 3em;
		padding:0 15px;
		@include bp(tablet){
			display: none;
		}
	}

	.desktop-description{
		// margin-top: 20px;
		// overflow-y: auto;
		@include bp(tablet){
			height: 358px;
		}
		@include bp(desktop){
			height: 472px;
		}
		@include bp(xl-desktop){
			height: 576px;
		}
	}

	.notes{
		margin-bottom: 3em;
		text-align: center; 
		@include bp(tablet){
			margin-top: 20px;
			margin-bottom: 6em;
			text-align: normal;
		}
		.fluent {
			font-family: $font-stack-cursive;
			text-decoration: underline;
		}
	}
}

.under-construction{
	font-family: $font-stack-default;
	text-shadow: $text-shadow-effect;
	color: white;
	h1{
		font-size: 6em;
		font-weight: bold;
		line-height: .8;
		@include bp(tablet){
			font-size: 12em;
		}
		@include bp(desktop){
			font-size: 16em;
		}
	}
}

// work page
.search-field{
	position: relative;
}

#search-box {
  display: block;
  text-align:center;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #000;
  vertical-align: middle;
  background-color: #ffffff;
  border-left:0;
  border-top:0;
  border-right:0;
  border-bottom: 3px solid #bbb;
  border-radius: 0;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  & + i{
  	color: #bbb;
  	position: absolute;
  	bottom:35%;
  	right:0
  }
  @include bp(tablet){
  	text-align: left;
  }
  &:focus{
	  border-color: #000;
	  outline: 0;
	}
	&:focus + i{
		color: #000;
	}
}

$work-box-shadow: 0 0 6px 2px rgba(0,0,0,.25);
.work{
	margin-top:50px;
	a{
		text-decoration: none;
	}
	font-family: $font-stack-default;
	text-shadow: $text-shadow-effect;
	.search-clear{
		color: red;
		&:hover{
			cursor: pointer;
			cursor: hand;

		}
	}
	button.search-button{
		position: fixed;
		background: white;
		text-align: center;
		z-index:50;
		color: white;
		bottom:0;
		width: 100%;
		left: 0;
		color: #000;
		padding:15px;
		box-shadow: $work-box-shadow;
		border:none;
		@include bp(tablet){
			display: none;
		}
	}
	//directive specific style
	.control-panel-mobile{
		margin: 0 !important;
	}

	.control-panel,.control-panel-shade{
		margin-top:-300%;
		@include transition(.25s);
		@include bp(tablet){
			margin-top: auto;
		}
	}
	.control-panel-shade{
		background: rgba(0,0,0,.9);
		position:fixed;
		width: 100%;
		height: 100%;
		z-index:500;
		top:0;
		@include bp(tablet){
			display: none;
		}
	}
	.control-panel{
		// display: none;
		background: #fff;
		box-shadow: $work-box-shadow;
		position:fixed;
		border: 1px solid #eee;
		z-index:500;
		padding:0 15px 20px 15px;
		text-align: center;
		@include bp(tablet){
			display: block;
			text-align: left;
			height: auto;
			left: auto;
		}
		.divider{
			color: #bbb;
			@include bp(tablet){
				margin-left:12px;
			}
		}
		.btn-category{
			width: 100%;
			margin-top: 10px;
			&:active, &.active, &:hover{
				box-shadow: none;
				text-decoration: line-through;
			}
			@include bp(tablet){
				text-align: left;
			}
		}
		h1{
			font-weight: bold;
			color: #000;
			@include bp(desktop){
				font-size: 3em;
			}
			@include bp(xl-desktop){
				font-size: 4em;
			}
		}
		h4{
			margin: 10px 0 0 0;
			font-weight: bold;
		}
	}

	.project-panel{
		.search-title{
			display: none;
			position: fixed;
			z-index: 700;
			margin: 0;
			text-align: center;
			@include animation(floating-search 1.25s ease-in-out infinite alternate);
			@include bp(tablet){
				display: block;
			}
		}
		.mobile-title{
			text-align: center;
			@include bp(tablet){
				display: none;
			}
		}
		h1{
			font-weight: bold;
			color: #fff;
			margin-top: 10px;
			@include bp(desktop){
				font-size: 4em;
			}
		}
	}
	.project{
		height: 380px;
		margin-bottom: 30px;
		position: relative;
		box-shadow: $work-box-shadow;
		background: white;
		color: #000;
		&:hover{
			@include scale(1.02);
			box-shadow: 0 0 15px 2px rgba(0,0,0,.5);
		}
		@include bp(desktop){
			@include transition(.25s);
		}

		.project-img{
			height: 75%;
		}

		.project-title{
			background:white;
			height: 25%;
			text-decoration: none;
			text-align:center;
			padding:10px;
			position: relative;
			@include bp(tablet){
				text-align:left;
			}
			@include bp(desktop){
				height: 100%;
				position:absolute;
				width: 100%;
				text-align:center;
				top:0;
				padding-top:50%;
				color:#fff;
				background: rgba(0,0,0,.7);
				opacity:0;
				&:hover{
					opacity: 1;
				}
			}
			@include bp(xl-desktop){
				padding-top: 40%;
			}

			h2{
				margin:0;
				font-weight: bold;
			}
			p{
				margin:0;
			}
		}
	}
}

.project-feature{
	font-family: $font-stack-default;
	text-shadow: $text-shadow-effect;
	width:100%;
	height:100%;
	overflow-y:auto;
	position:fixed;
	top:0;
	left:0;
	z-index:900;
	@include bp(desktop){
		height:100%;
		overflow-y: auto;
	}
	.back-button-desktop{
		position: absolute;
		top:15px;
		right:15px;
		color: white;
		display: none;
		@include bp(desktop){
			display:block;
		}
	}
	.back-button-mobile{
		position:absolute;
		right:15px;
		top:15px;
		color:gray;
		z-index: 100;
		@include bp(desktop){
			display: none;
		}
	}
	.feature-bg{
		background: rgba(0,0,0,.5);
		height:300%;
		top: -100%;
		width:100%;
		position:fixed;
		&:hover{
			cursor: default;
		}
	}
	.metadata{
		border-bottom: 1px solid #ccc;
		@include bp(desktop){
			margin-bottom: 20px;
		}
	}
	a{
		text-decoration: none;
	}
	h1{
		font-weight: bold;
		margin-top: 15px;
		@include bp(tablet){
			font-size: 3.5em;
		}
		@include bp(xl-desktop){
			font-size: 5em;
		}
	}
	.project-content{
		background:white;
		box-shadow: 0 0 15px 3px rgba(0,0,0,.5);
		padding:5px 0;
		margin: 15px;
		@include bp(tablet){
			margin: 0;
			margin-top: 25px;
			margin-bottom: 25px;
		}
		@include bp(desktop){
			height:566px;
			padding: 0;
			margin-top: 50px;
		}
		@include bp (xl-desktop) {
			height:682px
		}
		.project-gallery{
			padding:0;
		}
	}
	.desktop-description{
		display: none;
		@include bp(desktop){
			display: block;
			font-size: 1.1em;
			height:300px;
		}
		@include bp(xl-desktop){
			height: 380px;
			font-size: 1.25em !important;
		}
	}
	.mobile-description{
		margin-top: 15px;
		@include bp(desktop){
			display: none;
		}
	}
}






























//breakpoint sizes for col-4



