nav.navbar.navbar-home.navbar-fixed-top(style="background:rgba({{currentColor}},.85)")
	.container.containter-fluid
		.navbar-header
			button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#main-nav", ng-Click="isCollapsed=!isCollapsed")
				span.sr-only Toggle Navigation
				i.fa.fa-2x.fa-bars
			a.navbar-brand(ui-sref=".home") Ulises Reyes
		.collapse.navbar-collapse#main-nav(collapse="!isCollapsed")
			ul.nav.navbar-nav.navbar-right
				li
					a(ui-sref=".work", ng-class="{selected: isActive('/work')}", ng-Click="isCollapsed=!isCollapsed") Work &nbsp;#[i.fa.fa-file-image-o]
				li
					a(ui-sref=".about", ng-class="{selected: isActive('/about')}", ng-Click="isCollapsed=!isCollapsed") About &nbsp;#[i.fa.fa-file-text-o]
				li
					a(href="img/ulisesreyes-cv.pdf", download="Ulises Reyes CV") CV &nbsp;#[i.fa.fa-file-pdf-o]
				li
					a(href="mailto:hi@ulisesreyes.com") Contact &nbsp;#[i.fa.fa-envelope]