nav.navbar.navbar-home
	.container.containter-fluid
		.navbar-header
			button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#main-nav")
				span.sr-only Toggle Navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(ng-href="#/home") Ulises Reyes
		.collapse.navbar-collapse#main-nav
			ul.nav.navbar-nav.navbar-right
				li
					a(ng-href="#/work") Work
				li
					a(ng-href="#/about") About
				li
					a(ng-href="#/blog") Blog