.container.about.view
	.row
		.col-sm-12
			h1 About 
	.row
		.col-sm-6
			img.img-responsive(src="img/me.jpg")
		.col.sm-6.description
			ng-include(src="'partials/about-text.html'")
		.col-sm-6.desktop-description(scrollable)
			ng-include(src="'partials/about-text.html'")
	.row.notes
		.col-sm-3
			h2 Design Skills
			p Adobe Illustrator
			p Adobe Indesign
			p Adobe Photoshop
			p Sketch (Bohemian Coding)
			p AutoCAD
			p Rhinoceros
			p Vray
			p Sketchup
		.col-sm-3
			h2 Technical Skills
			p HTML
			p CSS
			p Javascript
			p Bootstrap
			p Foundation
			p Angular JS
			p Ruby on Rails
		.col-sm-3
			h2 Notable Moments
			p MIT Alumn
			p Y Combinator W15 Alumn
			p MIT IDEAS Global Challenge 2014 Finalist
			h2 Languages
			p English #[span.fluent Fluent #[i.fa.fa-check]]
			p Spanish #[span.fluent Fluent #[i.fa.fa-check]]
		.col-sm-3
			h2 Interests
			p Music
			p Cycling
			p Photography
			p Indie Gaming
			p Basketball