.container.about
	.row
		.col-sm-12
			h1 About 
	.row
		.col-sm-6
			img.img-responsive(src="img/me.jpg")
		.col-sm-6.description
			p.dropcap Ulises is a multidisciplinary designer with over 6 years of combined experience in branding, graphic design, architectural design, and web development. Ulises has extensive experience with 2D and 3D design software as well as front-end development libraries and frameworks. He holds a Master’s degree in Architectural Design from the #[a(href="http://www.mit.edu", target="_blank") Masachusetts Institute of Technology] and is recipient of the ‘MIT Architecture Graduate Student Fellowship Award’.
			p Before the end of his tenure at MIT, Ulises joined enterprise software startup #[a(href="http://www.smarking.net", target="_blank") Smarking] as UX/UI lead, establishing the brand of the company while refreshing the interface of a data analytics tool used by various garage managers all over the country. During his time at Smarking, they were accepted into the Winter 2015 round of #[a(href="http://www.ycombinator.com") Y-Combinator], and secured a seed round of $2MM USD.
	.row.notes
		.col-sm-3
			h2 Design Skills
			p Adobe Illustrator
			p Adobe Indesign
			p Adobe Photoshop
			p Sketch (Bohemian Coding)
			p AutoCAD
			p Rhinoceros
			p Vray
			p Sketchup
		.col-sm-3
			h2 Technical Skills
			p HTML
			p CSS
			p Javascript
			p Bootstrap
			p Foundation
			p Angular JS
			p Ruby on Rails
		.col-sm-3
			h2 Notable Moments
			p MIT Alumn
			p Y Combinator W15 Alumn
			p MIT IDEAS Global Challenge 2014 Finalist
			h2 Languages
			p English #[span.fluent Fluent #[i.fa.fa-check]]
			p Spanish #[span.fluent Fluent #[i.fa.fa-check]]
		.col-sm-3
			h2 Interests
			p Music
			p Cycling
			p Photography
			p Indie Gaming
			p Basketball