.container
	.row.splash
		.col-sm-6.vcenter
			.splash-text
				h1 Hi
		.col-sm-6.vcenter
			.splash-text
				p My name is #[a.splash-link(ng-href="#/about") Ulises Reyes]. I am a #[a.splash-link(href="http://en.wikipedia.org/wiki/Graphic_design", target="_blank") graphic], #[a.splash-link(href="http://en.wikipedia.org/wiki/Web_design", target="_blank") web], and #[a.splash-link(href="http://en.wikipedia.org/wiki/Architecture", target="_blank") architectural] designer based in #[a.splash-link(href="http://en.wikipedia.org/wiki/New_York_City", target="_blank") New York]. Feel free to view my #[a.splash-link(ng-href="#/work") portfolio], #[a.splash-link(ng-href="#/blog") blog], or any of the links below to learn more about me. For inquiries, #[a.splash-link(href="mailto:ureyesjr@gmail.com") email me]!
	.row.icons
		.col-xs-2
			a(href="http://www.linkedin.com/in/ureyes", target="_blank") #[i.fa.fa-linkedin]
		.col-xs-2
			a(href="https://angel.co/ureys", target="_blank") #[i.fa.fa-angellist]
		.col-xs-2
			a(href="https://github.com/urjr/", target="_blank") #[i.fa.fa-github-alt]
		.col-xs-2
			a(href="https://twitter.com/ureys", target="_blank") #[i.fa.fa-twitter]
		.col-xs-2
			a(href="https://instagram.com/urjr/", target="_blank") #[i.fa.fa-instagram]
		.col-xs-2
			a(href="mailto:ureyesjr@gmail.com") #[i.fa.fa-envelope-o]
